In [1]:
import cartopy.crs as ccrs
import cartopy.feature as cfeature
import matplotlib.pyplot as plt
import metpy.calc as mpcalc
import xarray as xr
from metpy.testing import get_test_data
from metpy.units import units
import sqlite3
import pandas as pd

In [2]:
data = xr.open_dataset(
    "_grib2netcdf-atls00-70e05f9f8ba4e9d19932f1c45a7be8d8-f2pZfK.nc"
)

In [3]:
data = data.metpy.parse_cf()

data["t2m"].metpy.convert_units("degC")

Found latitude/longitude values, assuming latitude_longitude for projection grid_mapping variable

In [3]:
lon, lat, time, temp = data["longitude"], data["latitude"], data["time"], data["t2m"]

In [28]:
with sqlite3.connect("weather.db") as conn:
    temp.to_series().to_sql(name="temp", con=conn, if_exists="replace")

In [34]:
with sqlite3.connect("weather.db") as conn:
    cursor = conn.execute("SELECT * FROM temp WHERE latitude = 90.0 AND longitude = 90.0 LIMIT 100")
    columns = [x[0] for x in cursor.description]
    print(columns)
    print(cursor.fetchall())

['time', 'latitude', 'longitude', 't2m']
[('1996-01-01 00:00:00', 90.0, 90.0, -30.432723999023438), ('1996-02-01 00:00:00', 90.0, 90.0, -31.002410888671875), ('1996-03-01 00:00:00', 90.0, 90.0, -33.1783447265625), ('1996-04-01 00:00:00', 90.0, 90.0, -19.00018310546875), ('1996-05-01 00:00:00', 90.0, 90.0, -6.606903076171875), ('1996-06-01 00:00:00', 90.0, 90.0, 0.4197998046875), ('1996-07-01 00:00:00', 90.0, 90.0, 0.785552978515625), ('1996-08-01 00:00:00', 90.0, 90.0, -1.00103759765625), ('1996-09-01 00:00:00', 90.0, 90.0, -9.65087890625), ('1996-10-01 00:00:00', 90.0, 90.0, -20.47833251953125), ('1996-11-01 00:00:00', 90.0, 90.0, -18.277114868164062), ('1996-12-01 00:00:00', 90.0, 90.0, -30.178207397460938)]